@using WebGrease.Css.Ast.MediaQuery
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forever Home</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <style>
                                     
                                 
    </style>
</head>
<body >
    <header>

        @*<div class="js-toggle-left-slidebar menuToggle">
            <i class="glyphicon glyphicon-list" ></i>
        </div>*@
        <div class="title">Forever Home</div>


        <div class="menuButtonsTop">            
            <div class="menuButton">
                <a href="@Url.Action("Index", "Home")">
                    <i class="glyphicon glyphicon-road"></i>&nbsp;The Road
                </a>
            </div>
            <div class="menuButton">
                <a href="@Url.Action("Index", "Story")">
                    <i class="glyphicon glyphicon-book"></i>&nbsp;Our Story
                </a>
            </div>
            <div class="menuButton">
                <a href="@Url.Action("Index", "Donate")">
                    <i class="glyphicon glyphicon-usd"></i>&nbsp;Donate
                </a>
            </div>
        </div>
    </header>
    <div class="menuButtons navbar" off-canvas="slidebar-1 left push">
        @*<div class="menuToggle js-close-left-slidebar"><i class="glyphicon glyphicon-list"></i></div>*@
        <div class="menuButton navbar-btn">
            <a href="@Url.Action("Index", "Home")">
                <i class="glyphicon glyphicon-road"></i>&nbsp;The Road
            </a>
        </div>
        <div class="menuButton navbar-btn">
            <a href="@Url.Action("Index", "Story")">
                <i class="glyphicon glyphicon-book"></i>&nbsp;Our Story
            </a>
        </div>
        <div class="menuButton navbar-btn">
            <a href="@Url.Action("Index", "Donate")">
                <i class="glyphicon glyphicon-usd"></i>&nbsp;Donate
            </a>
        </div>
    </div>
    <i class="js-toggle-left-slidebar navbar-toggle col-lg-1 glyphicon glyphicon-list"></i>
<main>
    <div canvas="container">
        @RenderBody()
        <br />
        <p class="footer col-xs-12">&copy; @DateTime.Now.Year - GreeneMonsters</p>
    </div>
    
</main>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/slidebars")
    @Scripts.Render("~/bundles/menu")
    @RenderSection("scripts", required: false)
</body>
</html>
